/Backups/
/Cache/
/CachedData/
/CachedExtensions/
/Cookies
/Cookies-journal
/GPUCache/
/Local Storage/
/Preferences
/User/History/
/User/snippets/
/User/workspaceStorage/
/languagepacks.json
/logs/
/machineid
/storage.json
