[submodule "config/oh-my-zsh"]
    path = config/oh-my-zsh
    url = http://github.com/robbyrussell/oh-my-zsh.git
[submodule "config/sublime-text-3/User"]
    path = config/sublime-text-3/User
    url = http://bitbucket.org/n1amr/sublime-text-3-config.git
