[submodule "config/oh-my-zsh"]
    path = config/oh-my-zsh
    url = http://github.com/robbyrussell/oh-my-zsh.git
    branch = master
[submodule "config/sublime-text-3"]
    path = config/sublime-text-3
    url = http://gitlab.com/n1amr/sublime-text-3-config.git
    branch = master
[submodule "config/secret"]
    path = config/secret
    url = http://gitlab.com/n1amr/shell-scripts-secret.git
    branch = master
