# My repos
[submodule "notes"]
    path = notes
    url = https://github.com/n1amr/dotfiles.notes.git
    branch = master
[submodule "thirdparty/binaries"]
    path = thirdparty/binaries
    url = https://github.com/n1amr/dotfiles.binaries.git
    branch = master

# Thirdpart repos
[submodule "config/vim/bundle/auto-pairs"]
    path = config/vim/bundle/auto-pairs
    url = https://github.com/jiangmiao/auto-pairs
    branch = master
[submodule "config/vim/bundle/ctrlp.vim"]
    path = config/vim/bundle/ctrlp.vim
    url = https://github.com/kien/ctrlp.vim
    branch = master
[submodule "config/vim/bundle/dracula"]
    path = config/vim/bundle/dracula
    url = https://github.com/dracula/vim
    branch = master
[submodule "config/vim/bundle/nerdtree.vim"]
    path = config/vim/bundle/nerdtree.vim
    url = https://github.com/scrooloose/nerdtree.git
    branch = master
[submodule "config/vim/bundle/papercolor-theme"]
    path = config/vim/bundle/papercolor-theme
    url = https://github.com/NLKNguyen/papercolor-theme
    branch = master
[submodule "config/vim/bundle/vim-airline.vim"]
    path = config/vim/bundle/vim-airline.vim
    url = https://github.com/vim-airline/vim-airline.git
    branch = master
[submodule "config/vim/bundle/vim-airline-themes.vim"]
    path = config/vim/bundle/vim-airline-themes.vim
    url = https://github.com/vim-airline/vim-airline-themes.git
    branch = master
[submodule "config/vim/bundle/vim-closetag"]
    path = config/vim/bundle/vim-closetag
    url = https://github.com/alvan/vim-closetag
    branch = master
[submodule "config/vim/bundle/vim-markdown"]
    path = config/vim/bundle/vim-markdown
    url = https://github.com/tpope/vim-markdown
    branch = master
[submodule "config/vim/bundle/vim-pathogen"]
    path = config/vim/bundle/vim-pathogen
    url = https://github.com/tpope/vim-pathogen
    branch = master
[submodule "config/vim/bundle/vim-theme-chroma"]
    path = config/vim/bundle/vim-theme-chroma
    url = https://github.com/crater2150/vim-theme-chroma
    branch = master
[submodule "thirdparty/dunst"]
    path = thirdparty/dunst
    url = https://github.com/dunst-project/dunst
    branch = master
[submodule "thirdparty/fzf"]
    path = thirdparty/fzf
    url = https://github.com/junegunn/fzf.git
    branch = master
[submodule "thirdparty/git-flow-completion"]
    path = thirdparty/git-flow-completion
    url = https://github.com/petervanderdoes/git-flow-completion
    branch = master
[submodule "thirdparty/gitflow-avh"]
    path = thirdparty/gitflow-avh
    url = https://github.com/petervanderdoes/gitflow-avh
    branch = master
[submodule "thirdparty/oh-my-zsh"]
    path = thirdparty/oh-my-zsh
    url = https://github.com/robbyrussell/oh-my-zsh.git
    branch = master
[submodule "thirdparty/playerctl"]
    path = thirdparty/playerctl
    url = https://github.com/acrisci/playerctl
    branch = master
[submodule "thirdparty/tmux-plugins/tmux-yank"]
    path = thirdparty/tmux-plugins/tmux-yank
    url = https://github.com/tmux-plugins/tmux-yank
    branch = master
[submodule "thirdparty/vim-stream"]
    path = thirdparty/vim-stream
    url = https://github.com/MilesCranmer/vim-stream.git
    branch = master
[submodule "thirdparty/zsh-plugins/you-should-use"]
    path = thirdparty/zsh-plugins/you-should-use
    url = https://github.com/MichaelAquilina/zsh-you-should-use
    branch = master
