# Crontab file for Home Directory for Amr Alaa (n1amr)
#=============================================================================
# Min    Hour    Day     Month   Weekday Command
#=============================================================================
*        *       *       *       *       /home/n1amr/.shell-scripts/crontab-jobs/battery-check &
*/15     *       *       *       *       # /home/n1amr/.shell-scripts/crontab-jobs/twitter-bot &
*/15     *       *       *       *       /home/n1amr/.shell-scripts/crontab-jobs/retweet-bot &
*/15     *       *       *       *       /home/n1amr/.shell-scripts/crontab-jobs/retweet-bot-rasha-rizk
*/15     *       *       *       *       /home/n1amr/.shell-scripts/crontab-jobs/tweet-bot-clock &
*/15     *       *       *       *       /home/n1amr/.shell-scripts/crontab-jobs/ring &
*/30     *       *       *       *       # /home/n1amr/.shell-scripts/crontab-jobs/updatedrive &
0        */2     *       *       *       /home/n1amr/.shell-scripts/crontab-jobs/updatevpn &
#=============================================================================