* * * * * /home/n1amr/.local/bin/battery-check &
*/15 * * * * . $HOME/.keys ; date >> $HOME/.n1amr-twitter-bot/data/log ; $HOME/.rbenv/shims/n1amr-twitter-bot >> $HOME/.n1amr-twitter-bot/data/log 2>&1 &
*/15 * * * * paplay /home/n1amr/.local/Schedule.ogg
*/20 * * * * #cd /mnt/Storage/Lab/Java/BrBaBot && java -jar StartBot.jar
*/30 * * * * /home/n1amr/.local/bin/updatedrive-cron --no-prompt &
0 */2 * * * /home/n1amr/.local/bin/updatevpn --no-prompt
