# Crontab file for Home Directory for Amr Alaa (n1amr@dell)
#===============================================================================
# Min    Hour     Day      Month    Weekday  Command
#===============================================================================
  0        *        *        *        *        env > "/tmp/cron-$LOGNAME.env"
  *        *        *        *        *        . ~/.dotfiles.env && "$DOTFILES_HOME/config/crontab/crontab-jobs/battery-low-caution" &
  *        *        *        *        *        DISPLAY=:0.0 xset s reset
  5        1        *        *        *        . ~/.dotfiles.env && "$DOTFILES_HOME/config/crontab/crontab-jobs/packt-open" &
  */15     *        *        *        *        . ~/.dotfiles.env && "$DOTFILES_HOME/config/crontab/crontab-jobs/ring" &
  */30     8-18     *        *        *        . ~/.dotfiles.env && "$DOTFILES_HOME/custom/bin/ssd-backup" &
  */30     *        *        *        *        . ~/.dotfiles.env && "$DOTFILES_HOME/config/crontab/crontab-jobs/updatedrive" &
#===============================================================================
