# Crontab file for Home Directory for Amr Alaa (n1amr)
#===============================================================================
# Min    Hour     Day      Month    Weekday  Command
#===============================================================================
*        *        *        *        *        . ~/.dotfiles_config && $MY_SCRIPTS_ROOT/config/crontab/crontab-jobs/battery-check &
*/15     *        *        *        *        . ~/.dotfiles_config && $MY_SCRIPTS_ROOT/config/crontab/crontab-jobs/twitter-bots &
*/15     *        *        *        *        . ~/.dotfiles_config && $MY_SCRIPTS_ROOT/config/crontab/crontab-jobs/ring &
*/30     *        *        *        *        . ~/.dotfiles_config && $MY_SCRIPTS_ROOT/config/crontab/crontab-jobs/updatedrive &
0        */2      *        *        *        . ~/.dotfiles_config && $MY_SCRIPTS_ROOT/config/crontab/crontab-jobs/updatevpn &
0        2        *        *        *        . ~/.dotfiles_config && $MY_SCRIPTS_ROOT/config/crontab/crontab-jobs/youtube-dl &
#===============================================================================
