[Desktop Entry]
Type=Application
Exec=gnome-terminal -e 'zsh -c ". /home/n1amr/.zshrc; tmux attach"'
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=tmux
Name=tmux
Comment[en_US]=
Comment=
